.password-block {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding: 0 1rem;
  height: 23px;
}

.password-block:first-child {
  border-left: 1px solid lightgray;
  border-top-left-radius: 15%;
  border-bottom-left-radius: 15%;
}

.password-block:last-child {
  border-right: 1px solid lightgray;
  border-top-right-radius: 15%;
  border-bottom-right-radius: 15%;
}

.password-block-active {
  background-color: #28a745;
}
